<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jejuro</title>
</head>
<body>
    <main>
        <h2>글쓰기</h2>
        <div>
            <form action="result" method="post" th:object="${post}">
                <input type="text" placeholder="제목" th:field="*{title}">
                <textarea placeholder="내용" th:field="*{content}">
                <button type="submit">추가</button>
            </form>
        </div>
    </main>
</body>
</html>